$columnCount: 12;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Existence, sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;

    .row {
        text-align: center;

        &:after,
        &:before {
            content: '';
            display: table;
            clear: both;
        }

        [class*='col-'] {
            width: 100%;
            float: none;
        }

        .slider [class*='col-'] {
            float: left;
            min-height: 1px;
        }
        @media (max-width: 640px) {
            .slider [class*='col-'] {
                float: left;
                min-height: 1px;
                width: 100%;
                margin: 0 auto;
            }
        }
        @media (max-width: 640px) {
            .slider2 [class*='col-'] {
                float: left;
                min-height: 1px;
                width: 100%;
                margin: 0 auto;
            }

            img.button {
                position: absolute;
                bottom: 0;
            }
        }
        @media (max-width: 640px) {
            .hexagon-menu {
                :first-child {
                    text-align: center;
                }

                :last-child {
                    text-align: center;
                }
            }
        }
        @media (min-width: 640px) {
            [class*='col-'] {
                float: left;
                min-height: 1px;
            }
            @for $i from 1 through $columnCount {
                .col-#{$i} {
                    width: (100%/$columnCount) * $i;
                }
            }
        }
    }
}
// @font-face {
// 	font-family: 'Helvetica Neue LT Std';
// 	src: url('HelveticaNeueLTStd-UltLtEx.eot');
// 	src: local('Helvetica Neue LT Std 23 Ultra Light Extended'), local('HelveticaNeueLTStd-UltLtEx'),
// 		url('HelveticaNeueLTStd-UltLtEx.eot?#iefix') format('embedded-opentype'),
// 		url('HelveticaNeueLTStd-UltLtEx.woff') format('woff'),
// 		url('HelveticaNeueLTStd-UltLtEx.ttf') format('truetype');
// 	font-weight: 200;
// 	font-style: normal;
// }
@font-face {
    font-family: 'Existence';
    src: url('../fonts/existence/Existence-Light.eot');
    src: local('Existence-Light'), url('../fonts/existence/Existence-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/existence/Existence-Light.woff2') format('woff2'), url('../fonts/existence/Existence-Light.woff') format('woff'), url('../fonts/existence/Existence-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
$span-color: #9f449b;
$font-color: #ffffff;
$small-logo-font-color: #676767;

body {}
@media (max-width: 640px) {
    #services-main {
        display: none;
    }

    .newClass1 * {
        stroke: $span-color;
    }

    .main-titles {
        width: 40% !important;
        height: auto;
    }

    .col-3 {
        margin: 20px 0 0 !important;
    }

    #button1 {
        position: absolute;
        top: 0;
        left: 36%;
        width: 30%;
        height: auto;
        margin: 1rem 0 1.5rem;
    }

    .slick-arrow {
        width: 15%;
        height: auto;
    }

    .img-container2 {
        float: none !important;
    }

    .watch_more {
        width: 30% !important;
        height: auto !important;
    }

    .home {
        .col-3 {
            p {
                margin-bottom: 2rem;
            }
        }
    }

    .devices {
        margin-bottom: 1rem;

        .img-container {}
    }

    .second-slider {
        .container {
            .row {
                .col-6 {
                    float: left !important;
                    width: 50%;
                }
            }
        }
    }
}

.header {
    width: 100%;
    background-image: url("../img/base.png");
    background-position: top;
    background-size: cover;

    a {
        color: transparent;
    }
}

.main-title {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    color: $font-color;
    font-weight: 700;
    margin: 3% 0;
}

.small-title {
    float: left;
    line-height: 12vh;
    font-size: 17px;
    font-weight: 700;
    color: $small-logo-font-color;
}

.header-text {
    color: $font-color;

    h4 {
        font-size: 30px;
    }

    p {
        margin: 15px 0 55px;
        font-size: 15px;
    }
}

.hexagon-menu {
    :first-child {
        text-align: left;
    }

    :last-child {
        text-align: right;
    }
}

svg {
    height: 15vh;
    width: 15vh;
}

.small-hexagon {
    height: 8vh;
    width: 8vh;
    background-size: cover;
}

path {
    stroke: white;
    fill: none;
    stroke-width: 3px;
}

.span-color {
    color: $span-color;
}

.header-path * {
    fill: $span-color;
    stroke: $span-color;
}

.hover:hover {
    fill: $span-color;
    stroke: $span-color;
}

.menu-section-hexagons * {
    stroke: $span-color;
}
// section 1

.main-menu {
    z-index: 99;
}

nav.main-nav {
    ul {
        line-height: 12vh;
        float: right;

        li {
            display: inline-block;
            font-size: 15px;

            a {
                text-decoration: none;
                color: $small-logo-font-color;
                margin: 0 0 0 0.75rem;
                font-weight: 700;
            }

            a:hover {
                color: $span-color;
            }
        }
    }
}
//section 2

.home {
    background-color: #eeeeee;
    background-size: cover;

    .col-3 {
        text-align: center;

        h6 {
            margin-top: 1rem;
            display: inline-block;
            width: 90%;
            font-size: 1rem;
            text-align: center;
        }

        p {
            display: inline-block;
            width: 85%;
            margin-top: 1rem;
        }
    }
}

.col-3 {
    margin: 10rem 0;
}
//section 3

.about {
    .container {
        .row2 {
            padding: 5rem 0;
            p {
                font-size: 1.25rem;
            }
        }
    }
}

.about-header {
    padding: 3rem 0;
}

.img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    float: left;
}

.about-main-container {
    float: left;
    overflow: hidden;
}

.devices {
    width: 100%;
    height: 100%;
    background-image: url("../img/mockup.png");
    background-size: cover;
}

.position-relative {
    position: relative;
    height: 1px;

    img.button {
        position: absolute;
        top: -3rem;
        center: 0;
        width: 9rem;
        height: 3rem;
    }
}

.our-team-header,
.second-slider-header {
    background-image: url("../img/our-team-header.png");
    padding: 4.5rem 0;

    p {
        padding: 1rem;
        font-size: 2rem;
        color: $font-color;
    }
}
//section 4 - our team

.our-team-img {
    padding: 1rem 0;
}

.slider-section {
    .person-img1 {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #cdcdcd;
        background-image: url("../img/1.jpeg");
        background-position: center;
        background-size: cover;
        margin-bottom: 1.5rem;
    }

    .person-img2 {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #cdcdcd;
        background-image: url("../img/2.jpeg");
        background-position: center;
        background-size: cover;
        margin-bottom: 1.5rem;
    }

    .person-img3 {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #cdcdcd;
        background-image: url("../img/3.jpeg");
        background-position: center;
        background-size: cover;
        margin-bottom: 1.5rem;
    }

    .person-img4 {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #cdcdcd;
        background-image: url("../img/4.jpeg");
        background-position: center;
        background-size: cover;
        margin-bottom: 1.5rem;
    }

    .person-img5 {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #cdcdcd;
        background-image: url("../img/5.jpeg");
        background-position: center;
        background-size: cover;
        margin-bottom: 1.5rem;
    }

    .person-img {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #cdcdcd;
        margin-bottom: 1.5rem;

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    }

    h5 {
        margin: 1rem 0 0.5rem;
        font-size: 1.25rem;
    }

    .social-img {
        display: inline-block;
        margin-top: 1rem;

        img {
            float: left;
            margin-bottom: 2rem;
        }
    }
}

.padding-bottom {
    padding: 1rem 0;
}

.skill-container {
    width: 50%;
    height: 100%;
    margin: 0 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.loading-bar {
    width: 50%;
    margin: 0.5rem 25%;
    height: 1rem;
    background-color: #f0f0f0;
}

span.progres-bar {
    background-color: $span-color;
    height: 100%;
    width: 0;
    float: left;
}

.bar-color {
    background-color: $span-color;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
        display: inline-block;
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-bottom: 2rem;

        button {
            text-decoration: none;
            border-radius: 50%;
            border: 1px solid black;
            background-color: white;
            font-size: 0;
            width: 0.75rem;
            height: 0.75rem;
        }

        button:hover {
            background-color: #9f449b;
            border: 1px solid #9f449b;
        }

        &:first-of-type {
            margin-left: 0;
        }
    }
}

.second-slider-datasets {
    display: inline-block;
    margin: 2rem 0;
}

.second-slider {
    background-color: #eeeeee;
    margin-top: 2rem;

    .container {
        .row {
            margin-bottom: 2rem;
        }
    }
}
//gallery

div.tags-container {
    margin-bottom: 3rem;

    div.img-tags {
        display: inline-block;
        border: 1px solid $span-color;
        border-radius: 10px;
        line-height: 100%;
        padding: 0.25rem 0.5rem;
        font-weight: 700;
        background-color: $span-color;
        color: white;
    }

    div.img-tags:hover {
        cursor: pointer;
    }
}

div.img-container2 {
    display: inline-block;
    float: left;

    img {
        width: 100%;
        height: auto;
    }
}
//contact form

.contact {
    form {
        width: 100%;

        input,
        textarea {
            width: 80%;
            height: 3.5rem;
            margin: 1.5rem 10% 0;
            padding: 0 0 0 1.5rem;
            color: black;
        }

        textarea {
            height: 15rem;
            padding-top: 1.5rem;
        }
    }
}

.address {
    font-size: 1.5rem;
    font-weight: 700;

    :first-child {
        font-family: 'Helvetica Neue LT Std', sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 1.5rem 10%;
    }

    :nth-child(2) {
        font-size: 1.75rem;
        font-family: 'Helvetica Neue LT Std', sans-serif;
        margin: 0 10% 1.5rem;
    }

    :nth-child(3) {
        display: inline-block;
        font-size: 1.5rem;
        font-family: 'Helvetica Neue LT Std', sans-serif;
        margin: 0 10% 1.5rem;
    }
}

.social-icon-set {
    img {
        width: 3.5rem;
        height: 3.5rem;
        margin: 1.5rem 10%;
    }
}

.send_email {
    width: 30%;
    height: auto;
}

.watch_more {
    width: 15%;
    height: auto;
    margin-top: 3rem;
}

.send_email {
    margin: auto;
}

.main-titles {
    width: 25%;
    height: auto;
    margin: 3rem 0 2rem;
}

.span-email,
.span-name,
.span-textarea {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

.active {
    color: $span-color !important;
}

.gallery-tags {
    display: inline-block !important;
    border: 1px solid black !important;
    border-radius: 10px !important;
    line-height: 100% !important;
    padding: 0.25rem 0.5rem !important;
    font-weight: 700 !important;
    background-color: white !important;
    color: black !important;
}
